body{                                 /* 为网页主体内容标记设置样式                           */
	margin: 0;                    /* 设定网页外部边距值为0, 清除body标记默认值          */
	padding: 0;                   /* 设定网页内部边距值为0                               */
	text-align: center;           /* 设定网页的内容居中，在IE中区块框也会居中显示       */
	font: 12px Arial,宋体;        /* 设置网页文字大小12个像素Arial或宋体字              */
}
.border {                             /* 为需要的区块框定义一类的边线样式                    */
	border:1px solid #888;        /* 四周边线样式为1个像素宽度灰色的直线               */
}
.bgcolor {                            /* 为需要的区块框定义一类的背景颜色                    */
	background:#DDD;              /* 定义使用该类的区块框背景颜色为淡灰色                */
}
#container {                          /* 为布局的最外层容器区块框使用ID选择符设置样式        */
	width:960px;                  /* 设置容器的宽度为966个像素                           */
	margin:0 auto;                /* 设置容器外部边距都为0, 使用auto在firefox中居中       */
}
#header {                             /* 为页面中ID为header的页眉区块框容器定义样式         */
	float:left;                   /* 设置该区块向左漂浮使其脱离页面的文档流              */
	width:100%;                   /* 设置该区块框的宽度和上一层容器区块的宽度相同        */
}
#logo {                               /* 为页面中ID为logo的Logo区块框容器定义样式         */
	float:left;                   /* 设置该区块向左漂浮使其脱离页面的文档流              */
	width:200px;                  /* 设置该区块框的宽度为200个像素                      */
	height:80px;                  /* 设置该区块框的高度为80个像素                        */
}
#banner {                             /* 为页面中ID为logo的Banner区块框容器定义样式        */
	float:right;                  /* 设置该区块向右漂浮使其脱离页面的文档流              */
	width:750px;                  /* 设置该区块框的宽度为750个像素                       */
}

#banner #left {                      /* 为页面中ID为banner的内部ID为left的容器定义组合样式 */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流               */
	width:540px;                 /* 设置该区块框的宽度为540个像素                       */
	height:80px;                 /* 设置该区块框的高度为80个像素                        */
}
.nav {                               /* 设置一个空白条添加在列表区块的下方                  */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流              */
	height:10px;                 /* 设置空白条的高度为5个像素                          */
	width:100%;                  /* 设置空白条的宽度添满整个容器                        */
	overflow:hidden;             /* 在IE中最小高度为18px，将超出部分隐藏              */
	clear:both;                  /* 清除该区块框两边的浮动区块                          */
}
#banner #right {                     /* 为页面中ID为banner的内部ID为right的容器定义组合样式*/
	float:right;                 /* 设置该区块向右漂浮使其脱离页面的文档流               */
	width:200px;                 /* 设置该区块框的宽度为200个像素                       */
	height:80px;                 /* 设置该区块框的高度为80个像素                       */
}
#menu {                              /* 为页面中ID为menu的菜单区块框容器定义样式           */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流               */
	width:100%;                  /* 设置该区块框的宽度和上一层容器区块的宽度相同         */
	height:30px;                 /* 设置该区块框的高度为30个像素                        */
}
#sidebar {                           /* 为页面中ID为sidebar的右部边条区块框容器定义样式     */
	float:right;                 /* 设置该区块向右漂浮使其脱离页面的文档流               */
	width:200px;                 /* 设置该区块框的宽度为200个像素                       */
	height:410px;                /* 设置该区块框的高度为410个像素                       */
}
#sidebar .bar {                      /* 为页面中ID为sidebar的内部类为bar的容器定义组合样式  */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流               */
	width:100%;                  /* 设置该区块框的宽度和上一层容器区块的宽度相同         */
	height:130px;                /* 设置该区块框的高度为130个像素                       */
}
#content {                           /* 为页面中ID为header的主内容区块框容器定义样式        */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流                */
	width:750px;                 /* 设置该区块框的宽度为750个像素                        */
}
#content .left_box {                 /* 为页面中ID是content内部类为left_box的容器定义组合样式 */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流                */
	width:370px;                 /* 设置该区块框的宽度为370个像素                        */
	height:200px;                /* 设置该区块框的高度为200个像素                       */
}
#content .right_box {                /* 为页面中ID是content内部类为right_box的容器定义组合样式*/
	float:right;                 /* 设置该区块向右漂浮使其脱离页面的文档流                */
	width:370px;                 /* 设置该区块框的宽度为370个像素                        */
	height:200px;                /* 设置该区块框的高度为200个像素                       */
}
#content .left {                     /* 为页面中ID是content内部类为left的容器定义组合样式    */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流                */
	height:200px;                /* 设置该区块框的高度为200个像素                       */
	width:180px;                 /* 设置该区块框的宽度为180个像素                       */
}
#content .right {                    /* 为页面中ID是content内部类为right的容器定义组合样式  */
	float:right;                 /* 设置该区块向右漂浮使其脱离页面的文档流               */
	height:200px;                /* 设置该区块框的高度为200个像素                      */
	width:180px;                 /* 设置该区块框的宽度为1800个像素                      */
}
#footer {                            /* 为页面中ID为footer的页脚区块框容器定义样式          */
	float:left;                  /* 设置该区块向左漂浮使其脱离页面的文档流               */
	width:100%;                  /* 设置该区块框的宽度和上一层容器区块的宽度相同         */
	height:60px;                 /* 设置该区块框的高度为60个像素                        */
}

